<!DOCTYPE html>
<html>
<head>
  <title>Padibilityweb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<span class="menu-trigger">MENU</span>
	<div class="nav">
	<ul class="clearfix">
		<li id="house"><%= link_to "#{image_tag("home.png")}".html_safe, root_path %></li>
		<li><a href="how_it_works.html">How It Works</a></li>
		<li><a href="team.html">The Team</a></li>
		<li><a href="mailto:info@padibility.com">Contact Us</a></li>
		<li class="highlight"><a class="logout" href ="/logout">Log Out</a><a href="log_in.html">Log In</a></li>		
		<li><a href="all_set.html">I'm All Set!</a></li>
		<li class="mypad"><!--<span class='user-name'><%= session[:username] %></span>-->
		<a href="seekers_profile.html"><span>Charlie Walker</span><img src="images/charlie_thumb.jpg" height="60" width="60" /></a></li>
	</ul>

</div>
</header>
<body>

<%= yield %>

<footer><p>Copyright Padibility 2014</p> <p class="info">Contact us: <a href="info@padibility.com">info@padibility.com</a></p>
	</footer>
</body>
</html>
